name: "Matrix Configuration Example"
"on":
  workflow_dispatch:
jobs:
  matrix-deploy:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        image: [hello-world, alpine:latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Deploy on ${{ matrix.os }}
        run: echo "Deploying on ${{ matrix.os }}"

      - name: Check runner OS, architecture, and name
        run: echo "Running on ${{ runner.os }} with architecture ${{ runner.arch }} on runner ${{ runner.name }}"

      - name: echo docker details
        run: docker info

      - name: run image
        run: docker run ${{ matrix.image }}
#   windows-deploy:
#     runs-on: windows-latest 
#     steps:
#       - name: Deploy on Windows
#         run: echo "Deploying on Windows"

#       - name: Check runner OS, architecture, and name
#         run: echo "Running on ${{ runner.os }} with architecture ${{ runner.arch }} on runner ${{ runner.name }}"

#       - name: echo docker details
#         run: docker info

#       - name: run image
#         run: docker run hello-world

