name: "Exploring variables and secrets in GitHub Actions"

on:
  push:
    branches: [main]

jobs:
    docker-build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: docker build
              run: |
                echo "Building Docker image..."
                echo "docker build -t ${{ env.CONTAINER_REGISTRY }}/${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest"

            - name: docker login
              run: |
                echo "Logging in to Docker registry..."
                echo "docker login ${{ env.CONTAINER_REGISTRY }} -u ${{ env.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}"

            - name: docker publish
              run: |
                echo "Publishing Docker image..."
                echo "docker push ${{ env.CONTAINER_REGISTRY }}/${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest"

    deploy:
        runs-on: ubuntu-latest
        needs: docker-build
        steps:
            - name: Deploy to Kubernetes
              run: |
                echo "Deploying to Kubernetes cluster..."
                echo "kubectl --kubeconfig=${{ secrets.KUBECONFIG }} set image deployment/my-deployment my-container=${{ env.CONTAINER_REGISTRY }}/${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest -n ${{ env.KUBE_NAMESPACE }}"