name: "Exploring variables and secrets in GitHub Actions"

on:
  #run cron job every five minutes
  schedule:
    - cron: "*/5 * * * *" 
  # push:
  #   branches: [main]

jobs:
    docker-build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: docker build
              run: |
                echo "Building Docker image..."
                echo "docker build -t ${{ vars.CONTAINER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/${{ vars.IMAGE_NAME }}:latest"

            - name: docker login
              run: |
                echo "Logging in to Docker registry..."
                echo "docker login ${{ vars.CONTAINER_REGISTRY }} -u ${{ vars.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}"

            - name: docker publish
              run: |
                echo "Publishing Docker image..."
                echo "docker push ${{ vars.CONTAINER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/${{ vars.IMAGE_NAME }}:latest"

    deploy:
        runs-on: ubuntu-latest
        needs: docker-build
        steps:
            - name: Deploy to Kubernetes
              run: |
                echo "Deploying to Kubernetes cluster..."
                echo "kubectl --kubeconfig=${{ secrets.KUBECONFIG }} set image deployment/my-deployment my-container=${{ vars.CONTAINER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/${{ vars.IMAGE_NAME }}:latest -n ${{ vars.KUBE_NAMESPACE }}"